@font-face {
  font-family: 'Prompt-Bold';
  src: url('/public/fonts/Prompt-Bold.ttf');
}
@font-face {
  font-family: 'Prompt-Light';
  src: url('/public/fonts/Prompt-Light.ttf');
}
@font-face {
  font-family: 'Prompt-Regular';
  src: url('/public/fonts/Prompt-Regular.ttf');
}

h1,h1,h3,h4,h5,h6 {
  font-family: 'Prompt-Light';
 
}
.title{
  font-family: 'Prompt-Bold';

}
